---
import ListHeader from '~/components/list/ListHeader.astro'
import PostListItem from '~/components/list/PostListItem.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'
import StandardLayout from '~/layouts/StandardLayout.astro'
import { getAllPosts } from '~/lib/content'

const posts = await getAllPosts()
const title = 'Posts'
const description = '风带来故事的种子，时间使其发芽。'
---

<BaseLayout title={title} description={description}>
  <StandardLayout>
    <div slot="header" class="px-6 sm:px-8 pt-8">
      <ListHeader title={title} description={description} />
    </div>
    <div class="px-6 sm:px-8 mt-12 pb-10 fade-up animation-delay-100">
      {posts.map((post, index) => <PostListItem post={post} index={index} />)}
    </div>
  </StandardLayout>
</BaseLayout>
